<h1>
  <div class="team">
    <%=@team.name%><br>
  </div>
</h1>
<h2>
  <div class="team">
    Team Motto: <%=@team.motto%><br>
  </div>
</h2>

<div class="hero">
  <h2>Hero Name:<%=@heroes[0].name%></h2>
  <h3>
    Hero Power:<%=@heroes[0].power%><br>
    Hero Biography:<%=@heroes[0].biography%><br>
  </h3>
  <h2>Hero Name:<%=@heroes[1].name%></h2>
  <h3>
    Hero Power:<%=@heroes[1].power%><br>
    Hero Biography:<%=@heroes[1].biography%><br>
  </h3>
  <h2>Hero Name:<%=@heroes[2].name%></h2>
  <h3>
    Hero Power:<%=@heroes[2].power%><br>
    Hero Biography:<%=@heroes[2].biography%><br>
  </h3>
</div>
